:root {
    --color-primary: #9A48D0;
    --color-secondary: #23262F;
    --color-secondary-light: #3D4252;
    --color-grey-dark: #45525F;
    --color-grey: #C4CCD4;
    --color-grey-light: #E9ECEF;
    --color-off-white: #FAFAFF;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/* Elements defined width or height is unaffected by padding/borders. */
*, *:before, *:after {
    box-sizing: inherit;
}

/* Remove default margins on paragraphs and headings */
h1, h2, h3, p {
    margin: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

button {
    cursor: pointer;
    display: inline-block;
    border: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.avatar-img {
    display: inline-block;
    margin-right: 2rem;
    width: 4.5rem;
}

.icon-btn {
    background-color: transparent;
    color: var(--color-secondary);
    font-size: 2.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-out;
}

.icon-btn:hover {
    color: var(--color-primary);
    transform: scale(1.2);
}

.container {
    display: grid;
    /* First column width has a minimum size threshold */
    grid-template-columns: minmax(300px, 1fr) 4fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
    min-height: 100vh;
    position: relative;
}

.header {
    box-shadow: 0 3px 20px var(--color-grey);
    background-color: #FFF;
    grid-area: header;
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: minmax(300px, 65%) 1fr;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    gap: 2rem;
    position: sticky;
    top: 0;
}

.header-search {
    grid-area: 1 / 1;
}

.header-search input {
    background-color: var(--color-grey-light);
    border: 2px solid var(--color-grey);
    border-radius: 2rem;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    margin-left: 1rem;
    width: max(250px, 85%);
    transition: border 0.5s ease-out;
}

.header-search input:focus {
    border-color: var(--color-primary);
    outline: none;
}

.header-userInfo {
    font-size: 2rem;
    font-weight: bold;
    grid-area: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    min-width: max-content;
}

.header-userInfo .info {
    display: flex;
    align-items: center;
}

.header-search button,
.header-userInfo button {
    padding: 1rem;
    width: 4rem;
}

.header-profile {
    font-weight: bold;
    grid-area: 2 / 1;
    display: flex;
    align-items: center;
}

.header-profile .avatar-img {
    width: 7rem;
}

.header-btnWrapper {
    grid-area: 2 / 2;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.header-btnWrapper button {
    background-color: var(--color-secondary);
    color: var(--color-off-white);
    font-weight: 500;
    border-radius: 2rem;
    padding: 1rem 3rem;
    transition: all 0.2s ease-out;
}

.header-btnWrapper button:hover {
    background-color: var(--color-primary);
    transform: scale(1.1);
}

.sidebar {
    background-color: var(--color-secondary);
    color: var(--color-off-white);
    font-size: 2.2rem;
    grid-area: sidebar;
    display: grid;
    /* Size rows based on height of content */
    grid-template-rows: repeat(3, auto);
    /* Prevents rows from occupying remaining space */
    align-content: start;
    row-gap: 5rem;
    /* Cover shadow from header */
    position: relative;
    z-index: 2;
}

.sidebar a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
}

.sidebar #active-link {
    background-color: var(--color-secondary-light);
}

.sidebar a:hover {
    background-color: var(--color-primary);
}

.sidebar-icon {
    font-size: 1.8rem;
    margin-right: 1rem;
    display: inline-flex;
    justify-content: center;
    width: 4rem;
}

.sidebar-title {
    padding: 2rem;
}

.sidebar-title h2 {
    font-size: 2.8rem;
    display: inline-block;
}

.sidebar-title .sidebar-icon {
    font-size: 3.2rem;
}

.content {
    background-color: var(--color-grey-light);
    grid-area: main-content;
    padding: 3rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    gap: 3rem 2rem;
}

.content h2 {
    margin-bottom: 1rem;
}

.content p {
    color: var(--color-grey-dark);
    line-height: 1.3;
}

/* Shared card appearance */
.project,
.announcement-container,
.trending-container {
    background-color: #FFF;
    box-shadow: 2px 2px 7px var(--color-grey);
    border-radius: 0.75rem;
    padding: 2.5rem;
}

.project-section {
    grid-area: projects;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 2.5rem;
}

.project {
    border-left: 8px solid var(--color-primary);
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
}

.project h3 {
    margin-bottom: 0.5rem;
}

.project p {
    margin-bottom: 2rem;
}

.project-btnWrapper {
    justify-self: end;
    align-self: end;
    display: flex;
    gap: 1rem;
}

.announcement-section {
    grid-area: announcements;
}

.announcement-section li {
    padding: 0 1rem;
}

.announcement-section li:not(:last-child) {
    border-bottom: 1px solid var(--color-grey);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.announcement-section p {
    font-size: 1.4rem;
}

.announcement-container {
    padding: 3rem;
    min-width: 250px;
}

.announcement-title,
.trend-user {
    display: inline-block;
    margin-bottom: 0.3rem;
}

.announcement-title {
    font-weight: 600;
}

.trending-section {
    grid-area: trending;
}

.trending-section li {
    display: flex;
    align-items: center;
}

.trending-section li:not(:last-child) {
    margin-bottom: 2rem;
}
